.collapsible-list {
    padding: 0;
    list-style-type: none;
    .collapsible-toggle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        background-color: $themeLgt2;

        .heading {
            margin: 0;
            display: inline;
            text-align: left;
            width: 90%;
        }
        .fa-icon {
            margin: 0;
            display: inline;
            width: auto;
        }
    }
}