.contact-form {
    .form-body {
        display: flex;
        flex-wrap: wrap;
        align-items: space-between;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }
    .field-container {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2%;
        textarea,
        input {
            @include inputStyles('dark');
        }
    }
    textarea {
        height: 150px;
        resize: none;
    }
    .submit {
        margin-top: 10px;
    }
}

.required-asterisk {
    color: $themeAcc;
}

.form-input-err-notice {
    color: $themeAcc;
    border: 2px $themeAcc solid;
    border-radius: 5px;
    padding: 10px
}

.contact-details-container {
    .contact-details-list {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style-type: none;
    }
    .contact-detail {
        display: inline-flex;
        align-content: center;
        align-items: center;
        svg {
            margin-right: 10px;
        }
    }
}

@media (min-width: 768px) {
    .contact-form {
        .contact-name-container,
        .contact-organization-container {
            width: 49%;
        }
    }
}

@media (max-width: $mobileBP) {
    .contact-form {
        margin-bottom: 50px;
    }
}