html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 5em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6, .heading {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: .5em;
}
h1, h2 {
    margin-top: 2em;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

fieldset {
    border: none;
    padding: 0;
}

a {
    color: $themeS;
    transition: $transTime;
    &:hover, &:focus {
        color: $themeS2;
    }
    &:visited {
        color: $themeS3;
        &:hover, &:focus {
            color: $themeS2
        }
    }
}

.btn,
a.btn {
    display: inline-block;
    padding: 15px;
    margin: 0;
    border: none;
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    box-sizing: border-box;
    color: $themeDark;
    background-color: #eee;
    cursor: pointer;
    transition: all $transTime;
    &:hover, &:focus  {
        color: $themeDark;
        background-color: $themeS;
    }
}

p {
    word-break: break-word;
}

blockquote {
    font-style: italic;
    position: relative;
    color: $themeMed;
    word-break: break-word;
}

#App {
    display: flex;
}

pre > code {
    padding: 10px;
    display: block;
    background-color: #333;
    color:#eee;
    overflow:auto;
}

.App-link {
    color: #61dafb;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

#content {
    flex-basis: 90%;
}

.col-2,
.col-3 {
    display: flex;
    flex-wrap: wrap;
}

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 400px;
    height: 50vh;
    padding: $sectPadding;
    color: $themeLgt;
    background-color: $themeDark;
    box-sizing: border-box;
    .page-heading {
        margin: 0;
    }
}

@media (max-width: $tabletBP) {
    #resume-nav-container {
        display: none;
    }

    #App {
        flex-direction: column;
    }

    .col-2,.col-3 {
        .col {
            width: 100%;
        }
    }
}

@media (min-width: 768px) {
    .col-2 .col {
        width: 50%; 
    }
    .col-3 .col {
        width: calc(100% / 3);
    }
}

@media (max-width: mobileBP) {
    
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
