.site-logo-wrapper {
    display: inline-block;
}
.bjo102-svg-logo {
    width: 200px;
    transition: all $transTime;
    .bjo-vector {
        fill: $themeDark2;
        transition: all $transTime;

    }
    .accent-vector {
        fill: $themeS2;
        transition: all $transTime;

    }
    .the-little-thing-in-the-middle {
        fill: $themeAcc2;
        transition: all $transTime;

    }
    &:hover, &:focus {
        .accent-vector {
            fill: $themeAcc2;
        }
    }
}
