#app-navbar {
    display: flex;
    flex-direction: column;
    background-color: $themeP;
    #toggle-menu * {
        pointer-events: none;
    }
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    .menu-items-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .btn {
        width: 100%;
        text-align: left;
        &.active {
            background-color: $themeS2;
        }
    }
    .sub-menu-items-list{
        list-style-type: none;   
    }
}

@media (min-width: 1030px) {
    #app-navbar {
        flex-basis: 10%;

        .nav-menu {
            height: 100vh;
            .menu-items-list .btn {
                margin-bottom: 5%;
            }
        }

        .site-logo-wrapper {
            margin-bottom: 5%;
        }
    }

    #toggle-menu {
        display: none;
        //position: fixed;
    }
}

@media (max-width: $tabletBP) {
    #app-navbar {
        position: sticky;
        top: 0;
        z-index: 9999;
        .site-logo-wrapper {
            margin-bottom: 2%;
        }
        .nav-menu {
            padding: 2%;
        }
        .bjo102-svg-logo {
            width: 100px;
        }
        .nav-menu {
            height: auto;
            .menu-items-list .btn,
            .social-links-container {
                    margin-bottom: 2%;
            }
        }
        &.hidden {
            .nav-menu {
                display: none;
            }
        }
        &.visible {
            .nav-menu {
                display: flex;
            }
        }
    }

    #toggle-menu {
        position: fixed;
        display: inline-block;
        align-self: flex-end;
        padding: 10px;
        color: $themeAcc2;
        border: 2px solid $themeAcc2;
        border-radius: 2px;
        margin: 2%;
        background-color: transparent;
        top: 0;
        right: 0;
        z-index: 999;
        &.close {
            color: #fff;
            background-color: $themeAcc2;
        }
    }
}