
.project-page-specs-container {
    .project-specs {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: $bdrRadLrg;
        box-sizing: border-box;
        &.project-features-specs {
            color: $themeDark;
            background-color: $themeS;
        }
        &.project-tech-specs {
            color: $themeS;
            background-color: $themeDark;
            justify-content: flex-end;
        }
        .project-specs-list-container {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            align-content: flex-start;
            flex-basis: 100%;
            .heading {
                flex-basis: 100%;
                align-self: flex-start;
                padding: 0;
                margin: 0;
                color: inherit;
            }
            .project-specs-list {
                flex-basis: 100%;
                padding: 0;
                margin: 0;
                list-style-type: none;
            }
        }
        svg {
            color: inherit;
            font-size: 8em;
        }
    }
}

.clipboard-link-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    label {
        flex-basis: 100%;
    }
    .clipboard-link {
        flex-grow: 1;
        padding: 2%;
        background-color: $themeDark;
        border-width: 2px 0 2px 2px;
        border-style: solid;
        border-color: $themeLgt;
        color: #fff;
    }
    .clipboard-link-btn {
        position: relative;
        display: inline-block;
        padding: 2%;
        background-color: $themeDark;
        border: 2px solid $themeLgt;
        color: #fff;
        transition: all 0.3s;
        &:hover {
            background-color: $themeMed;
        }
        &.clicked {
            background-color: $themeP;
            .copied-tooltip {
                visibility: visible;
                opacity: 1;
            }
        }
        .copied-tooltip {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 99;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }
        }
          
        // stop this element from being the event targe
        svg {
            pointer-events: none
        }
    }
}

.folio-page-section {
    overflow: visible;
    #folio-page-content-wrapper {
        #folio-page-content {
            img {
                max-width: 100%;
                box-shadow: -5px 5px 0px $themeP;
                border: 2px solid $themeS;
            }
        }
        #folio-page-links-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            #folio-page-links {
                display: flex;
                flex-direction: column;
                position: sticky;
                font-size: 2em;
                top: 5%;
                padding: 2%;
                background-color: $themeDark;
                border-radius: $bdrRadLrg;
                a {
                    line-height: 0;
                    &:not(:last-of-type) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}



@media (min-width: 1029px) {

    #folio-page-content-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    // portfolio item page
    .project-page-specs-container {
        display: grid;
        grid-template-columns: 40% 60%;
        .project-specs{
            &.project-features-specs {
                border-radius: $bdrRadLrg 0 0 $bdrRadLrg;
                flex-direction: row-reverse;
                text-align: right;
            }
            &.project-tech-specs {
                border-radius: 0 $bdrRadLrg $bdrRadLrg 0;
            }
        }
    }
}


@media (max-width: 1028px) {

    // portfolio item page
    .project-page-specs-container {
        display: flex;
        flex-direction: column;
        .project-specs {
            align-items: flex-start;
            &.project-features-specs {
                border-radius: $bdrRadLrg $bdrRadLrg 0 0;
            }
            &.project-tech-specs {
                border-radius: 0 0 $bdrRadLrg $bdrRadLrg;
            }
        }
    }
}

@media (min-width: 768px) {
    #folio-page-content {
        width: 60%;
    }
    #folio-page-links-wrapper {
        width: 40%;
    }
}

@media (max-width: 767px) {

    // portfolio item page
    .project-page-specs-container {
        .project-specs {
            &.project-features-specs {
                flex-direction: column-reverse;
                align-items: flex-end;
                text-align: right;
                svg {
                    margin-bottom: 50px;
                }
            }
            &.project-tech-specs {
                flex-direction: column;
                svg {
                    margin-top: 50px;
                }
            }
            svg {
                align-self: center;
            }
        }
    }
}
