
.portfolio-section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    .section-content-wrapper {
        gap: 2%;
        row-gap: 30px;
        align-items: end;
        flex-basis: 100%;
    }
}

.portfolio-archive-item {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-top: 30%;
    background-position: center;
    object-fit: center;
    .portfolio-item-dtls {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        height: 100%;
        max-width: 100%;
        padding: 2%;
        color: $themeLgt;
        box-sizing: border-box;
        @include backgroundOpacity($themeP, 0.7);
        transition: background .5s;
        .heading {
            color: $themeS2;
            position: relative;
            margin: 0;
            z-index: 1;
        }
        .portfolio-links {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-grow: 1;
            width: 100%;
            a {
                color: $themeS2;
                opacity: 0;
                transition: opacity $transTime;
                &:hover, &:focus {
                    color: $themeLgt;
                }
                &:not(:last-of-type) {
                    margin-right: 2%;
                }
            }
        }
        .excerpt {
            opacity: 0;
            transition: opacity $transTime;
        }
    }
    &:focus-within, &:hover {
        .portfolio-item-dtls {
            @include backgroundOpacity($themeP, 0.95);
            .portfolio-links a {
                opacity: 1;
            }
            .excerpt {
                opacity: 1;
            }
        }
    }
}

@media (min-width: 1029px) {
    // portfolio archive
    .portfolio-archive-item {
        width: 32%;
    }
}


@media (max-width: 1028px) {
    // portfolio archive
    .portfolio-archive-item {
        width: calc((100% / 2) - 20px);
    }
}

@media (max-width: 767px) {
    // portfolio archive
    .portfolio-archive-item {
        width: 100%;
        padding-top: 80%;
    }

    .portfolio-archive-item {
        .portfolio-links {
            svg {
                font-size: 2em;
            }
        }
    }
}


@media (hover: none) {
    .portfolio-archive-item {
        .portfolio-item-dtls {
            a {
                opacity: 1;
            }
        }
        .portfolio-item-dtls {
            @include backgroundOpacity($themeP, 0.95);
            .portfolio-links a {
                opacity: 1;
            }
            .excerpt {
                opacity: 1;
            }
        }
    }

}