#resume-profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    border: 5px solid;
}

.resume-page {
    display: flex;
    background-color: $themeLgt;
    
    #resume {
        padding: 5%;
        flex-grow: 1;
        .section {
            min-height: auto;
            padding: 0;
            background-color: transparent;
            .sect-heading {
                border-bottom: 1px solid $themeDark;
            }
        }
        .collapsible-item {
            .collapsible-toggle {
                border: none;
                padding: 2%;
            }
            .collapsible-content {
                padding: 2%;
            }
            .heading {
                font-weight: 300;
                font-family: 'Dosis', sans-serif;
                text-transform: inherit;
                font-size: 1.5em;
            }
        }
    }
    
    #resume-nav-container {
        background-color: $themeLgt2;

        #resume-nav {
            position: sticky;
            top: 0;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
            .btn {
                background-color: $themeLgt2;
                &:hover, &:focus {
                    background-color: $themeS2;
                }
            }
        }
    }
}

#resume-header {
    display: flex;
    align-items: end;
    .details {
        flex-grow: 1;
        h1 {
            margin: 0;
            width: 100%;
            border-bottom: 1px solid #eee;
        }
        p {
    
        }
    }
}







///  OLD RESUME
#resume-page -old {
    font-size: 16px;
    .cv-heading {
        font-size: 30px;
        line-height: 1;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    #cv-header {
        padding: 15px 30px;
        color: $themeLgt;
        background-color: $themeP;
        border-bottom: 2px solid $themeP2;
        box-sizing: border-box;
        .heading {
            margin: 0;
        }
        #title {
            font-weight: 400;
            color: $themeP2;
        }
    }
    #main-content {
        display: flex;
        flex-basis: 100%;
        width: 100%;
    }
    .cv-column {
        flex-grow: 1;
        padding: 30px;
        box-sizing: border-box;
    }
    #aside-column {
        width: 30%;
        background-color: $themeP;
        color: $themeLgt;
        border-right: 2px solid $themeP2;
        .aside-list {
            padding: 0;
            list-style-type: none;
            .aside-skill {
                display: block;
            }
        }
    }

    #main-column {
        width: 70%;
        background-color: $themeLgt;
        .cv-section:not(:last-of-type) {
            border-bottom: 2px solid $themeDark;
        }
        .cv-heading {
            color: $themeP;
        }
    }
}
/*# sourceMappingURL=style.css.map */
