.section {
    min-height: 100vh;
    padding: $sectPadding;
    color: $themeDark;
    background-color: $themeLgt;
    box-sizing: border-box;
    overflow: hidden;
    .section-content {
        width: 100%;
    }
    &.dark {
        color: $themeLgt;
        background-color: $themeDark2;
    }
}

.section-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sub-section {
    .sub-section-header {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: 0.5em;
        gap: 1em;
        .heading {
            margin: 0;
            line-height: 1;
        }
        .fa-icon {
            font-size: 2em;
            line-height: 1;

        }
    }
    &.reverse {
        text-align: right;
        .sub-section-header {
            flex-direction: row-reverse;
        }
    }
    margin-bottom: 1em;
}

#landing-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .bjo102-svg-logo {
        margin-bottom: 20px;
        .bjo-vector {
            fill: $themeDark;
        }
    }
    .personal-links-container {
        display: flex;
        justify-content: center;
        height: 3em;
        gap: 2%;
        font-size: 15px;
        line-height: 1;
        text-transform: uppercase
    }
    .headings {
        margin-bottom: 20px;
    }
    .heading {
        margin: 0;
    }
    .name-heading {
        font-size: $fontMed;
    }
    .title-heading {
        font-size: 2em;
    }
    .contact-btn {
        font-size: inherit;
    }
    .brand-icons-container {
        display: flex;
        justify-content: space-between;
        justify-items: space-between;
        align-items: stretch;
        align-content: space-between;
        width: 100%;
        margin-bottom: 1em;
    }
}

/* #intro-section {
    background-color: $themeS;
    display: flex;
    align-items: center;
} */

#services-section {
    display: flex;
    align-items: center;
    position: relative;

    .sub-section {
        position: relative;
        margin-bottom: 5em;
        z-index: 1;
    }
    /*.section-content {
        display: flex;
        justify-content: center;
        gap: 5%;
        flex-wrap: wrap;
        .heading {
            flex-basis: 100%;
        }
        .sub-section-header {
            flex-basis: 30%;
            z-index: 1;
            box-sizing: border-box;
            .fa-icon {
                font-size: 2em;
            }
        }
    } */
    .fa-section-background {
        display: inline;
        color:  #eee;
        position: absolute;
        bottom: -10%;
        right: -7%;
        font-size: 35em;
        z-index: 0;
    }
}

#about-section {
    // background: linear-gradient(-90deg, rgba($themeDark, 50%), rgba($themeDark, 100%)), url("../media/images/my-vscode.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#footer {
    background-color: $themeDark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    #footer-sub-content {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    #copyright-claim {
        margin: 0;
    }
    .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    #footer #footer-sub-content {
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    #services-section .sub-section .heading {
        flex-grow: 1;
    }

    #footer #footer-sub-content {
        justify-content: center;
        .site-logo-wrapper {
            margin-bottom: 2em;
        }
    }
}