.social-links-container {
    display: flex;
    align-items: center;
    border: 2px solid $themeS;
    box-sizing: border-box;
    span {
        display: flex;
        justify-content: center;
        flex-basis: 100%;
        align-items: center;
        height: 100%;
        width: 5em;
    }
    a {
        color: $themeS;
        padding: 0.4em;
        font-size: 1.5em;
    }
}