$themeP: #517e77;
$themeP2: #77a59e;

$themeS: #79bac1;
$themeS2: #98e4ed;
$themeS3: #47a1f5;

$themeAcc: rgb(224, 92, 114);
$themeAcc2: rgb(255, 129, 150);

$transTime: .2s;

$themeDark2: #333;
$themeDark: #444;
$themeMed: #666;
$themeLgt2: #dadada;
$themeLgt: #f6f6f6;
$bdRdSmall: 5px;

$bdrRadLrg: 50px;
$bdrRadSml: 10px;

$sectPadding: 5%;
$inputPadding: 5px;

$fontLrg: 5em;
$fontMed: 3em;
$fontSize: 1em;
$fontSmall: .8em;

$mobileBP: 767px;
$tabletBP: 1029px;

@mixin backgroundOpacity($color, $opacity: 0.5) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin inputStyles($shade: 'light') {
    border: none;
    border-radius: $bdRdSmall;
    padding: $inputPadding;
    border: 1px solid;
    transition: all $transTime;
    @if $shade == 'light' {
        color: $themeDark;
        border-color: $themeLgt;
        background-color: $themeLgt;
        &:focus {
            border-color: $themeS2;
        }
    }
    @if $shade == 'dark' {
        color: $themeLgt;
        border-color: $themeDark;
        background-color: $themeDark2;
        &:focus {
            border-color: $themeLgt;
        }
    }

    &:focus {
        outline: none;
    }
}