@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&family=Teko:wght@400;500&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-size: 5em; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.5em; }

h1, h2, h3, h4, h5, h6, .heading {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: .5em; }

h1, h2 {
  margin-top: 2em; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

fieldset {
  border: none;
  padding: 0; }

a {
  color: #79bac1;
  transition: 0.2s; }
  a:hover, a:focus {
    color: #98e4ed; }
  a:visited {
    color: #47a1f5; }
    a:visited:hover, a:visited:focus {
      color: #98e4ed; }

.btn,
a.btn {
  display: inline-block;
  padding: 15px;
  margin: 0;
  border: none;
  font-size: 1em;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  box-sizing: border-box;
  color: #444;
  background-color: #eee;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover, .btn:focus,
  a.btn:hover,
  a.btn:focus {
    color: #444;
    background-color: #79bac1; }

p {
  word-break: break-word; }

blockquote {
  font-style: italic;
  position: relative;
  color: #666;
  word-break: break-word; }

#App {
  display: flex; }

pre > code {
  padding: 10px;
  display: block;
  background-color: #333;
  color: #eee;
  overflow: auto; }

.App-link {
  color: #61dafb; }

.App-logo {
  height: 40vmin;
  pointer-events: none; }

#content {
  flex-basis: 90%; }

.col-2,
.col-3 {
  display: flex;
  flex-wrap: wrap; }

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 400px;
  height: 50vh;
  padding: 5%;
  color: #f6f6f6;
  background-color: #444;
  box-sizing: border-box; }
  .page-header .page-heading {
    margin: 0; }

@media (max-width: 1029px) {
  #resume-nav-container {
    display: none; }

  #App {
    flex-direction: column; }

  .col-2 .col, .col-3 .col {
    width: 100%; } }
@media (min-width: 768px) {
  .col-2 .col {
    width: 50%; }

  .col-3 .col {
    width: calc(100% / 3); } }
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; } }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
#app-navbar {
  display: flex;
  flex-direction: column;
  background-color: #517e77; }
  #app-navbar #toggle-menu * {
    pointer-events: none; }

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0px; }
  .nav-menu .menu-items-list {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .nav-menu .btn {
    width: 100%;
    text-align: left; }
    .nav-menu .btn.active {
      background-color: #98e4ed; }
  .nav-menu .sub-menu-items-list {
    list-style-type: none; }

@media (min-width: 1030px) {
  #app-navbar {
    flex-basis: 10%; }
    #app-navbar .nav-menu {
      height: 100vh; }
      #app-navbar .nav-menu .menu-items-list .btn {
        margin-bottom: 5%; }
    #app-navbar .site-logo-wrapper {
      margin-bottom: 5%; }

  #toggle-menu {
    display: none; } }
@media (max-width: 1029px) {
  #app-navbar {
    position: sticky;
    top: 0;
    z-index: 9999; }
    #app-navbar .site-logo-wrapper {
      margin-bottom: 2%; }
    #app-navbar .nav-menu {
      padding: 2%; }
    #app-navbar .bjo102-svg-logo {
      width: 100px; }
    #app-navbar .nav-menu {
      height: auto; }
      #app-navbar .nav-menu .menu-items-list .btn,
      #app-navbar .nav-menu .social-links-container {
        margin-bottom: 2%; }
    #app-navbar.hidden .nav-menu {
      display: none; }
    #app-navbar.visible .nav-menu {
      display: flex; }

  #toggle-menu {
    position: fixed;
    display: inline-block;
    align-self: flex-end;
    padding: 10px;
    color: #ff8196;
    border: 2px solid #ff8196;
    border-radius: 2px;
    margin: 2%;
    background-color: transparent;
    top: 0;
    right: 0;
    z-index: 999; }
    #toggle-menu.close {
      color: #fff;
      background-color: #ff8196; } }
.section {
  min-height: 100vh;
  padding: 5%;
  color: #444;
  background-color: #f6f6f6;
  box-sizing: border-box;
  overflow: hidden; }
  .section .section-content {
    width: 100%; }
  .section.dark {
    color: #f6f6f6;
    background-color: #333; }

.section-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%; }

.sub-section {
  margin-bottom: 1em; }
  .sub-section .sub-section-header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    gap: 1em; }
    .sub-section .sub-section-header .heading {
      margin: 0;
      line-height: 1; }
    .sub-section .sub-section-header .fa-icon {
      font-size: 2em;
      line-height: 1; }
  .sub-section.reverse {
    text-align: right; }
    .sub-section.reverse .sub-section-header {
      flex-direction: row-reverse; }

#landing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  #landing-header .bjo102-svg-logo {
    margin-bottom: 20px; }
    #landing-header .bjo102-svg-logo .bjo-vector {
      fill: #444; }
  #landing-header .personal-links-container {
    display: flex;
    justify-content: center;
    height: 3em;
    gap: 2%;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase; }
  #landing-header .headings {
    margin-bottom: 20px; }
  #landing-header .heading {
    margin: 0; }
  #landing-header .name-heading {
    font-size: 3em; }
  #landing-header .title-heading {
    font-size: 2em; }
  #landing-header .contact-btn {
    font-size: inherit; }
  #landing-header .brand-icons-container {
    display: flex;
    justify-content: space-between;
    justify-items: space-between;
    align-items: stretch;
    align-content: space-between;
    width: 100%;
    margin-bottom: 1em; }

/* #intro-section {
    background-color: $themeS;
    display: flex;
    align-items: center;
} */
#services-section {
  display: flex;
  align-items: center;
  position: relative;
  /*.section-content {
      display: flex;
      justify-content: center;
      gap: 5%;
      flex-wrap: wrap;
      .heading {
          flex-basis: 100%;
      }
      .sub-section-header {
          flex-basis: 30%;
          z-index: 1;
          box-sizing: border-box;
          .fa-icon {
              font-size: 2em;
          }
      }
  } */ }
  #services-section .sub-section {
    position: relative;
    margin-bottom: 5em;
    z-index: 1; }
  #services-section .fa-section-background {
    display: inline;
    color: #eee;
    position: absolute;
    bottom: -10%;
    right: -7%;
    font-size: 35em;
    z-index: 0; }

#about-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#footer {
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  #footer #footer-sub-content {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap; }
  #footer #copyright-claim {
    margin: 0; }
  #footer .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

@media (min-width: 768px) {
  #footer #footer-sub-content {
    justify-content: space-between; } }
@media (max-width: 767px) {
  #services-section .sub-section .heading {
    flex-grow: 1; }

  #footer #footer-sub-content {
    justify-content: center; }
    #footer #footer-sub-content .site-logo-wrapper {
      margin-bottom: 2em; } }
.collapsible-list {
  padding: 0;
  list-style-type: none; }
  .collapsible-list .collapsible-toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #dadada; }
    .collapsible-list .collapsible-toggle .heading {
      margin: 0;
      display: inline;
      text-align: left;
      width: 90%; }
    .collapsible-list .collapsible-toggle .fa-icon {
      margin: 0;
      display: inline;
      width: auto; }

.social-links-container {
  display: flex;
  align-items: center;
  border: 2px solid #79bac1;
  box-sizing: border-box; }
  .social-links-container span {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    align-items: center;
    height: 100%;
    width: 5em; }
  .social-links-container a {
    color: #79bac1;
    padding: 0.4em;
    font-size: 1.5em; }

.site-logo-wrapper {
  display: inline-block; }

.bjo102-svg-logo {
  width: 200px;
  transition: all 0.2s; }
  .bjo102-svg-logo .bjo-vector {
    fill: #333;
    transition: all 0.2s; }
  .bjo102-svg-logo .accent-vector {
    fill: #98e4ed;
    transition: all 0.2s; }
  .bjo102-svg-logo .the-little-thing-in-the-middle {
    fill: #ff8196;
    transition: all 0.2s; }
  .bjo102-svg-logo:hover .accent-vector, .bjo102-svg-logo:focus .accent-vector {
    fill: #ff8196; }

.contact-form .form-body {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-between;
  padding: 0;
  margin: 0; }
.contact-form .field-container {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2%; }
  .contact-form .field-container textarea,
  .contact-form .field-container input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid;
    transition: all 0.2s;
    color: #f6f6f6;
    border-color: #444;
    background-color: #333; }
    .contact-form .field-container textarea:focus,
    .contact-form .field-container input:focus {
      border-color: #f6f6f6; }
    .contact-form .field-container textarea:focus,
    .contact-form .field-container input:focus {
      outline: none; }
.contact-form textarea {
  height: 150px;
  resize: none; }
.contact-form .submit {
  margin-top: 10px; }

.required-asterisk {
  color: #e05c72; }

.form-input-err-notice {
  color: #e05c72;
  border: 2px #e05c72 solid;
  border-radius: 5px;
  padding: 10px; }

.contact-details-container .contact-details-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none; }
.contact-details-container .contact-detail {
  display: inline-flex;
  align-content: center;
  align-items: center; }
  .contact-details-container .contact-detail svg {
    margin-right: 10px; }

@media (min-width: 768px) {
  .contact-form .contact-name-container,
  .contact-form .contact-organization-container {
    width: 49%; } }
@media (max-width: 767px) {
  .contact-form {
    margin-bottom: 50px; } }
.portfolio-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center; }
  .portfolio-section .section-content-wrapper {
    gap: 2%;
    row-gap: 30px;
    align-items: end;
    flex-basis: 100%; }

.portfolio-archive-item {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-top: 30%;
  background-position: center;
  object-fit: center; }
  .portfolio-archive-item .portfolio-item-dtls {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 100%;
    max-width: 100%;
    padding: 2%;
    color: #f6f6f6;
    box-sizing: border-box;
    background: #517e77;
    /* The Fallback */
    background: rgba(81, 126, 119, 0.7);
    transition: background .5s; }
    .portfolio-archive-item .portfolio-item-dtls .heading {
      color: #98e4ed;
      position: relative;
      margin: 0;
      z-index: 1; }
    .portfolio-archive-item .portfolio-item-dtls .portfolio-links {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-grow: 1;
      width: 100%; }
      .portfolio-archive-item .portfolio-item-dtls .portfolio-links a {
        color: #98e4ed;
        opacity: 0;
        transition: opacity 0.2s; }
        .portfolio-archive-item .portfolio-item-dtls .portfolio-links a:hover, .portfolio-archive-item .portfolio-item-dtls .portfolio-links a:focus {
          color: #f6f6f6; }
        .portfolio-archive-item .portfolio-item-dtls .portfolio-links a:not(:last-of-type) {
          margin-right: 2%; }
    .portfolio-archive-item .portfolio-item-dtls .excerpt {
      opacity: 0;
      transition: opacity 0.2s; }
  .portfolio-archive-item:focus-within .portfolio-item-dtls, .portfolio-archive-item:hover .portfolio-item-dtls {
    background: #517e77;
    /* The Fallback */
    background: rgba(81, 126, 119, 0.95); }
    .portfolio-archive-item:focus-within .portfolio-item-dtls .portfolio-links a, .portfolio-archive-item:hover .portfolio-item-dtls .portfolio-links a {
      opacity: 1; }
    .portfolio-archive-item:focus-within .portfolio-item-dtls .excerpt, .portfolio-archive-item:hover .portfolio-item-dtls .excerpt {
      opacity: 1; }

@media (min-width: 1029px) {
  .portfolio-archive-item {
    width: 32%; } }
@media (max-width: 1028px) {
  .portfolio-archive-item {
    width: calc((100% / 2) - 20px); } }
@media (max-width: 767px) {
  .portfolio-archive-item {
    width: 100%;
    padding-top: 80%; }

  .portfolio-archive-item .portfolio-links svg {
    font-size: 2em; } }
@media (hover: none) {
  .portfolio-archive-item .portfolio-item-dtls a {
    opacity: 1; }
  .portfolio-archive-item .portfolio-item-dtls {
    background: #517e77;
    /* The Fallback */
    background: rgba(81, 126, 119, 0.95); }
    .portfolio-archive-item .portfolio-item-dtls .portfolio-links a {
      opacity: 1; }
    .portfolio-archive-item .portfolio-item-dtls .excerpt {
      opacity: 1; } }
.project-page-specs-container .project-specs {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  box-sizing: border-box; }
  .project-page-specs-container .project-specs.project-features-specs {
    color: #444;
    background-color: #79bac1; }
  .project-page-specs-container .project-specs.project-tech-specs {
    color: #79bac1;
    background-color: #444;
    justify-content: flex-end; }
  .project-page-specs-container .project-specs .project-specs-list-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: flex-start;
    flex-basis: 100%; }
    .project-page-specs-container .project-specs .project-specs-list-container .heading {
      flex-basis: 100%;
      align-self: flex-start;
      padding: 0;
      margin: 0;
      color: inherit; }
    .project-page-specs-container .project-specs .project-specs-list-container .project-specs-list {
      flex-basis: 100%;
      padding: 0;
      margin: 0;
      list-style-type: none; }
  .project-page-specs-container .project-specs svg {
    color: inherit;
    font-size: 8em; }

.clipboard-link-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .clipboard-link-container label {
    flex-basis: 100%; }
  .clipboard-link-container .clipboard-link {
    flex-grow: 1;
    padding: 2%;
    background-color: #444;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: #f6f6f6;
    color: #fff; }
  .clipboard-link-container .clipboard-link-btn {
    position: relative;
    display: inline-block;
    padding: 2%;
    background-color: #444;
    border: 2px solid #f6f6f6;
    color: #fff;
    transition: all 0.3s; }
    .clipboard-link-container .clipboard-link-btn:hover {
      background-color: #666; }
    .clipboard-link-container .clipboard-link-btn.clicked {
      background-color: #517e77; }
      .clipboard-link-container .clipboard-link-btn.clicked .copied-tooltip {
        visibility: visible;
        opacity: 1; }
    .clipboard-link-container .clipboard-link-btn .copied-tooltip {
      visibility: hidden;
      width: 120px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 99;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s; }
      .clipboard-link-container .clipboard-link-btn .copied-tooltip:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent; }
    .clipboard-link-container .clipboard-link-btn svg {
      pointer-events: none; }

.folio-page-section {
  overflow: visible; }
  .folio-page-section #folio-page-content-wrapper #folio-page-content img {
    max-width: 100%;
    box-shadow: -5px 5px 0px #517e77;
    border: 2px solid #79bac1; }
  .folio-page-section #folio-page-content-wrapper #folio-page-links-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; }
    .folio-page-section #folio-page-content-wrapper #folio-page-links-wrapper #folio-page-links {
      display: flex;
      flex-direction: column;
      position: sticky;
      font-size: 2em;
      top: 5%;
      padding: 2%;
      background-color: #444;
      border-radius: 50px; }
      .folio-page-section #folio-page-content-wrapper #folio-page-links-wrapper #folio-page-links a {
        line-height: 0; }
        .folio-page-section #folio-page-content-wrapper #folio-page-links-wrapper #folio-page-links a:not(:last-of-type) {
          margin-bottom: 20px; }

@media (min-width: 1029px) {
  #folio-page-content-wrapper {
    display: flex;
    flex-wrap: wrap; }

  .project-page-specs-container {
    display: grid;
    grid-template-columns: 40% 60%; }
    .project-page-specs-container .project-specs.project-features-specs {
      border-radius: 50px 0 0 50px;
      flex-direction: row-reverse;
      text-align: right; }
    .project-page-specs-container .project-specs.project-tech-specs {
      border-radius: 0 50px 50px 0; } }
@media (max-width: 1028px) {
  .project-page-specs-container {
    display: flex;
    flex-direction: column; }
    .project-page-specs-container .project-specs {
      align-items: flex-start; }
      .project-page-specs-container .project-specs.project-features-specs {
        border-radius: 50px 50px 0 0; }
      .project-page-specs-container .project-specs.project-tech-specs {
        border-radius: 0 0 50px 50px; } }
@media (min-width: 768px) {
  #folio-page-content {
    width: 60%; }

  #folio-page-links-wrapper {
    width: 40%; } }
@media (max-width: 767px) {
  .project-page-specs-container .project-specs.project-features-specs {
    flex-direction: column-reverse;
    align-items: flex-end;
    text-align: right; }
    .project-page-specs-container .project-specs.project-features-specs svg {
      margin-bottom: 50px; }
  .project-page-specs-container .project-specs.project-tech-specs {
    flex-direction: column; }
    .project-page-specs-container .project-specs.project-tech-specs svg {
      margin-top: 50px; }
  .project-page-specs-container .project-specs svg {
    align-self: center; } }
#resume-profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  border: 5px solid; }

.resume-page {
  display: flex;
  background-color: #f6f6f6; }
  .resume-page #resume {
    padding: 5%;
    flex-grow: 1; }
    .resume-page #resume .section {
      min-height: auto;
      padding: 0;
      background-color: transparent; }
      .resume-page #resume .section .sect-heading {
        border-bottom: 1px solid #444; }
    .resume-page #resume .collapsible-item .collapsible-toggle {
      border: none;
      padding: 2%; }
    .resume-page #resume .collapsible-item .collapsible-content {
      padding: 2%; }
    .resume-page #resume .collapsible-item .heading {
      font-weight: 300;
      font-family: 'Dosis', sans-serif;
      text-transform: inherit;
      font-size: 1.5em; }
  .resume-page #resume-nav-container {
    background-color: #dadada; }
    .resume-page #resume-nav-container #resume-nav {
      position: sticky;
      top: 0; }
      .resume-page #resume-nav-container #resume-nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0; }
      .resume-page #resume-nav-container #resume-nav .btn {
        background-color: #dadada; }
        .resume-page #resume-nav-container #resume-nav .btn:hover, .resume-page #resume-nav-container #resume-nav .btn:focus {
          background-color: #98e4ed; }

#resume-header {
  display: flex;
  align-items: end; }
  #resume-header .details {
    flex-grow: 1; }
    #resume-header .details h1 {
      margin: 0;
      width: 100%;
      border-bottom: 1px solid #eee; }

#resume-page -old {
  font-size: 16px; }
  #resume-page -old .cv-heading {
    font-size: 30px;
    line-height: 1;
    margin-top: 1em;
    margin-bottom: 0.5em; }
  #resume-page -old #cv-header {
    padding: 15px 30px;
    color: #f6f6f6;
    background-color: #517e77;
    border-bottom: 2px solid #77a59e;
    box-sizing: border-box; }
    #resume-page -old #cv-header .heading {
      margin: 0; }
    #resume-page -old #cv-header #title {
      font-weight: 400;
      color: #77a59e; }
  #resume-page -old #main-content {
    display: flex;
    flex-basis: 100%;
    width: 100%; }
  #resume-page -old .cv-column {
    flex-grow: 1;
    padding: 30px;
    box-sizing: border-box; }
  #resume-page -old #aside-column {
    width: 30%;
    background-color: #517e77;
    color: #f6f6f6;
    border-right: 2px solid #77a59e; }
    #resume-page -old #aside-column .aside-list {
      padding: 0;
      list-style-type: none; }
      #resume-page -old #aside-column .aside-list .aside-skill {
        display: block; }
  #resume-page -old #main-column {
    width: 70%;
    background-color: #f6f6f6; }
    #resume-page -old #main-column .cv-section:not(:last-of-type) {
      border-bottom: 2px solid #444; }
    #resume-page -old #main-column .cv-heading {
      color: #517e77; }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=App.css.map */
